
  .player-cover {
    background: #D9D9D9;
    /* border: 2px solid white; */
    border-radius: 50%;
    color: #6E6767;
    font-size: 44px;
    width: 120px;
    height: 120px;
    margin-top: 40px;
  }
  
  .cancel-button {
    background-color: #2A2035;
    border: 2px solid hsl(0, 0%, 80%);
    color: white;
    font-size: 15px;
    cursor: pointer;
    width: 128px;
    height: 50px;
  }

  .cancel-button:hover {
    background-color: #3D3346;
    border-color: #C77DFF;
  }

  .matchmaking {
    width: 128px;
    height: 94px;
  }

  .matchmaking p{
  background-color: #2A2035;
  font-family: Inter, Arial, sans-serif;
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 10px 10px;
  border: 2px solid hsl(0, 0%, 80%);
  margin-bottom: -2px;
  width: 100%;
  }

@media only screen and (max-width: 900px){
  .cancel-button {
    width: 100px;
    height: 40px;
    font-size: 10px;
  }

  .matchmaking {
    width: 100px;
    height: 72px;
  }

  .matchmaking p{
    font-size: 8px;
  }

}


  
  