.settings-header{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3%;
    margin-bottom: 4%;
}

.settings-2fa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 80%;
    border: 1px solid white;
    position: relative;
    z-index: 1;
}

.myprofile{
    color: rgb(153, 153, 153);
    border: 1px solid rgb(153, 153, 153);
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    padding: 10px 20px;
}

.settings{
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    padding: 10px 25px;
}

.tittle-section{
    height: 70%;
    width: 90%;

}

.input-section {
    height: 40%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.button-section{
    height: 15%;
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.enable{
    font-size: 1vw;
    height: 50%;
    width: 17%;
    border: 1px solid rgb(217, 215, 215);
    border-radius: 5px;
}

.enable:hover{
    background-color: #3D3346;
    border-color: #C77DFF;
}


.cancel{
    font-size: 1vw;
    height: 50%;
    width: 17%;
}

.cancel:hover{
    opacity: 0.7;
}


.icon-container {
    width: 35px;
    height: 35px;
}
  
.circle-icon {
  width: 30px;
  height: 30px;
  background-color: #7D7782;
  border-radius: 50%;
  position: relative;
}

.icon-text {
  color: white; 
  font-size: 100%;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.up-nav{

    width:  100%;
    height: 20%;
    display: flex;
    align-items: center;
}

.number1-nav{
    width:  100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    gap: 5%;
}


.mid-nav{
    width:  100%;
    height: 80%;
    display: flex;
    flex-direction: column;

}

.verline{
    border-left: 2px solid #7D7782;
    height:100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pp{
    display: flex;
    flex-direction: column;
    width:  100%;
    height: 100%;
    gap: 20%;
    font-size: 0.9vw;
}

.code {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.9vw;
}

.icon-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.number2-nav{
    width:  100%;
    display: flex;
    align-items: center;
    font-size: 0.9vw;
    gap: 5%;
}

.input-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.input{
    width: 44px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    background: transparent;
    /* background-clip: padding-box; */
}

.input-error{
    width: 44px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    border: 1px solid #ae1f1f;
    border-radius: 5px;
    background: transparent;
}

.input:focus {
    border: none;
    outline: 0;
    box-shadow: 0 0 0 2px rgb(159 44 190 / 50%)
}

.warning-text{
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    border: 1px solid #E33838;
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
}

.warning-text p{
    font-size: 0.5vw;
}