@font-face {
    font-family: 'Valorax';
    src: url('/fonts/valorax-lg25v.otf') format('opentype');
}

.text-section h1 {
    font-size: 3.5vw;
    font-family: 'Valorax', sans-serif;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    margin-top: 100px;
}

.text-section2 h1 {
    font-size: 3.2vw;
    font-family: 'Valorax', sans-serif;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
}

.game-container{
    width: 60%;
    height: 80%;
}

.text-div{
    display: flex;
    position: relative;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.image-section{
    position: absolute;
    width: 80%;
    height: 100%;
    left: 0;
    border-radius: 20px;
}

.image-section img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 70%;
    height:100%;
    background-color: #21162C;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 20px 20px 20px 0px;
    padding: 6%
}

.text-section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    width: 70%;
    height:100%;
    background-color: #21162C;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    border-radius: 20px 0px 20px 20px;
    padding: 6%
}

.text-div2 {
    display: flex;
    position: relative;
    justify-content: start;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.image-section2 {
    position: absolute;
    width: 70%;
    height: 100%;
    right: 0;
    border-radius: 20px;
}

.image-section2 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.ping-buttons {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    justify-content: center;
    margin-right: 17%;
}

.pvp-button {
    background-color: #2A2035;
    border: 2px solid hsl(0, 0%, 80%);
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    height: 50px;
    font-family: 'Inter', sans-serif;
}

.pvp-button:hover{
    background-color: #3D3346;
    border-color: #C77DFF;
}


.tournament-button {
    background-color: #2A2035;
    border: 2px solid hsl(0, 0%, 80%);
    color: white;
    font-size: 15px;
    cursor: pointer;
    width: 140px;
    height: 50px;
    font-family: 'Inter', sans-serif;
}

.tournament-button:hover{
    background-color: #3D3346;
    border-color: #C77DFF;
}

.ping-pong {
    display: flex;
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 20px;
    width: 90%;
    height: 45%;
    margin: 10px;
    position: relative;
}

.ping-pong:hover{
    border-color: #C77DFF;
}

.tic-tac-toe{
    display: flex;
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 20px;
    width: 90%;
    height: 45%;
    margin: 10px;
    position: relative;
}

.tic-tac-toe:hover{
    border-color: #C77DFF;
}

.tic-buttons {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    justify-content: center;
}

.pvp-button2 {
    background-color: #2A2035;
    border: 2px solid hsl(0, 0%, 80%);
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    height: 50px;
    font-family: 'Inter', sans-serif;
}

.pvp-button2:hover{
    background-color: #3D3346;
    border-color: #C77DFF;
}


.tournament-button2 {
    background-color: #2A2035;
    border: 2px solid hsl(0, 0%, 80%);
    color: white;
    font-size: 15px;
    cursor: pointer;
    width: 140px;
    height: 50px;
    font-family: 'Inter', sans-serif;
}

.tournament-button2:hover{
    background-color: #3D3346;
    border-color: #C77DFF;
}

@media only screen and (max-width: 600px){

    .text-section h1 {
        font-size: 25px;
        margin-top: 0px;
    }

    .text-section{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        width: 100%;
        border-radius: 20px;
        align-items: center;

    }

    .ping-buttons {
        margin: 0px;
        margin-top: 30px;
    }

    .text-section2 h1 {
        font-size: 25px;
        margin-top: 0px;
    }

    .text-section2 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        width: 100%;
        border-radius: 20px;
        align-items: center;
    }

    .tic-buttons{
        margin: 0px;
        margin-top: 30px;
    }

    .pvp-button {
        font-size: 8px;
        height: 40px;
        width: 55px;
    }

    .pvp-button2{
        font-size: 8px;
        height: 40px;
        width: 55px;
    }

    .tournament-button {
        font-size: 8px;
        height: 40px;
        width: 80px;
    }

    .tournament-button2{
        font-size: 8px;
        height: 40px;
        width: 80px;
    }
    
}

@media only screen and (min-width: 600px) {
    .text-section h1 {
        font-size: 20px;
    }

    .text-section2 h1 {
        font-size: 20px;
    }

    .pvp-button {
        font-size: 6px;
        height: 30px;
        width: 20px;
    }

    .pvp-button2{
        font-size: 6px;
        height: 30px;
        width: 20px;
    }

    .tournament-button {
        font-size: 6px;
        height: 30px;
        width: 60px;
    }

    .tournament-button2{
        font-size: 6px;
        height: 30px;
        width:60px;
    }

}

@media only screen and (min-width: 900px) {
    .text-section h1 {
        font-size: 30px;
    }

    .text-section2 h1 {
        font-size: 30px;
    }

    .pvp-button {
        font-size: 8px;
        height: 40px;
        width: 55px;
    }

    .pvp-button2{
        font-size: 8px;
        height: 40px;
        width: 55px;
    }

    .tournament-button {
        font-size: 8px;
        height: 40px;
        width: 80px;
    }

    .tournament-button2{
        font-size: 8px;
        height: 40px;
        width: 80px;
    }

}


@media only screen and (min-width: 1250px) {
    .text-section h1 {
        font-size: 50px;
    }

    .text-section2 h1 {
        font-size: 50px;
    }

    .pvp-button {
        font-size: 10px;
        height: 50px;
        width: 80px;
    }

    .pvp-button2{
        font-size: 10px;
        height: 50px;
        width: 80px;
    }

    .tournament-button {
        font-size: 10px;
        height: 50px;
        width: 100px;
    }

    .tournament-button2{
        font-size: 10px;
        height: 50px;
        width: 100px;
    }
}

@media only screen and (min-width: 2560px) {
    .text-section h1 {
        font-size: 55px;
    }

    .text-section2 h1 {
        font-size: 55px;
    }
}
