* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: valorax;
  src: url(./valorax-lg25v.otf);
}

@font-face {
  font-family: poppins;
  src: url(./Poppins/Poppins-\.ttf);
}

.top_title {
  font-family: valorax;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px rgba(199, 125, 255, 1);
}

.down_title {
  font-family: valorax;
}

.img_container
{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}

.tor_cont {
  grid-template-columns: 3fr 2fr 3fr;
}

/* p {
  font-size: x-small;
  font-family: poppins;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px rgba(199, 125, 255, 1);
} */