* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@font-face {
  font-family: valorax;
  src: url(./valorax-lg25v.otf);
}

@font-face {
  font-family: poppins;
  src: url(./Poppins/Poppins-Bold.ttf);
}

.leader {
  font-family: valorax;
  /* margin: 2rem auto; */
  color: white;
}

.card_silver,
.card_gold,
.card_bronze {
  background-color: rgba(122, 122, 122, 0.2);
  font-family: poppins;
  border-radius: 1.5rem;
  /* height: 100%; */
}

.avatar {
  width: 3rem;
  height: 3em;
  border-radius: 50%;
  object-fit: cover;
}

.button_silver,
.button_gold,
.button_bronze {
  /* padding: 0.25rem 0.5rem; */
  border-radius: 0.75rem;
  font-weight: bold;
}

.rank_silver,
.rank_gold,
.rank_bronze {
  font-size: 1.5rem;
}

.your_rank {
  color: #f9cf00;
  font-family: poppins;
}

.rank_bronze {
  color: #c05c00;
}

.rank_silver {
  color: #c0c0c0;
}

.rank_gold {
  color: #f9cf00;
}

.button_silver {
  background-color: #c0c0c0;
  border: 1px solid #c0c0c0;
}

.button_gold {
  background-color: #fab416;
  border: 1px solid #fab416;
}

.button_bronze {
  background-color: #c05c00;
  border: 1px solid #c05c00;
}

.state {
  color: rgba(255, 255, 255, 0.5);
  font-size: x-small;
}

.footer {
  overflow: auto;
}
